name: CI pipeline for python application
on:
    #schedule:
    #    - cron: '0 0 * * *' # Schedule the workflow to run daily at midnight
    push:
        branches:
            - testing
        paths-ignore:
            - 'docker-compose.yml'

permissions:
    contents: write

jobs:
    Docker-Build-Push:
        runs-on: ubuntu-latest
        environment: development
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Docker login
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build web_frontend image
              run: |
                docker build -f services/web_frontend/Dockerfile -t jeevanugale/web_frontend:test-${{ github.sha }} services/web_frontend
                docker images
                docker push jeevanugale/web_frontend:test-${{ github.sha }}

            - name: Build auth_service image
              run: |
                docker build -f services/auth_service/Dockerfile -t jeevanugale/auth_service:test-${{ github.sha }} services/auth_service
                docker images
                docker push jeevanugale/auth_service:test-${{ github.sha }}

            - name: Build user_service image
              run: |
                docker build -f services/user_service/Dockerfile -t jeevanugale/user_service:test-${{ github.sha }} services/user_service
                docker images
                docker push jeevanugale/user_service:test-${{ github.sha }}

            - name: Build admin_service image
              run: |
                docker build -f services/admin_service/Dockerfile -t jeevanugale/admin_service:test-${{ github.sha }} services/admin_service
                docker images
                docker push jeevanugale/admin_service:test-${{ github.sha }}

    Trivy-Scan:
        runs-on: ubuntu-latest
        needs: Docker-Build-Push
        steps:
            - name: web Docker Image Scan
              uses: aquasecurity/trivy-action@0.33.1
              with:
                scan-type: image
                scan-ref: jeevanugale/web_frontend:test-${{ github.sha }}
                format: table
                exit-code: '0'
                vuln-type: os,library
                severity: CRITICAL,HIGH,MEDIUM
                output: trivy-web_frontend-report-test.txt

            - name: auth Docker Image Scan
              uses: aquasecurity/trivy-action@0.33.1
              with:
                scan-type: image
                scan-ref: jeevanugale/auth_service:test-${{ github.sha }}
                format: table
                exit-code: '0'
                vuln-type: os,library
                severity: CRITICAL,HIGH,MEDIUM
                output: trivy-auth_service-report-test.txt

            - name: user Docker Image Scan
              uses: aquasecurity/trivy-action@0.33.1
              with:
                scan-type: image
                scan-ref: jeevanugale/user_service:test-${{ github.sha }}
                format: table
                exit-code: '0'
                vuln-type: os,library
                severity: CRITICAL,HIGH,MEDIUM
                output: trivy-user_service-report-test.txt

            - name: admin Docker Image Scan
              uses: aquasecurity/trivy-action@0.33.1
              with:
                scan-type: image
                scan-ref: jeevanugale/admin_service:test-${{ github.sha }}
                format: table
                exit-code: '0'
                vuln-type: os,library
                severity: CRITICAL,HIGH,MEDIUM
                output: trivy-admin_service-report-test.txt

            - name: Upload Trivy Reports as Artifacts
              uses: actions/upload-artifact@v4
              with:
                name: trivy-web_frontend-report-test.txt, trivy-auth_service-report-test.txt, trivy-user_service-report-test.txt, trivy-admin_service-report-test.txt
                path: |
                  trivy-web_frontend-report-test.txt
                  trivy-auth_service-report-test.txt
                  trivy-user_service-report-test.txt
                  trivy-admin_service-report-test.txt

    Update-Compose-And-Commit:
      runs-on: ubuntu-latest
      needs: Trivy-Scan
      steps:
        - name: Checkout code
          uses: actions/checkout@v4
          with:
            token: ${{ secrets.GITHUB_TOKEN }}

        - name: Update docker-compose.yml with new image tags
          run: |
            sed -i "s|test-01-.*|test-01-${{ github.sha }}|g" docker-compose.yml

        - name: Commit and push updated compose file
          run: |
            git config user.name "github-actions"
            git config user.email "github-actions@github.com"
            git add docker-compose.yml
            git commit -m "ci: update image tags [skip ci]" || echo "No changes to commit"

        - name: Configure Git remote with GITHUB_TOKEN
          run: |
              git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}

        - name: Push changes to the current branch
          run:
            git push origin HEAD:${{ github.ref_name }}